.input-group {
  display: flex;

  .btn,
  .addon,
  .input {
    vertical-align: middle;
    display: inline-block;
  }

  .addon {
    white-space: nowrap;
    // todo цвета радуги
  }

  .btn,
  .input {
    @include stack-item-upward(2);

    flex: 1;
    min-width: 1px;

    &:hover, &:focus, &:active {
      @include stack-item-upward(3);
    }

    &.-upward {
      @include stack-item-upward(4);
    }
  }

  // fallback
  .no-flexbox & {
    .btn,
    .addon,
    .input {
      margin: 0;
    }
  }
}
