%stack,
.stack {

  &.-x { @include stack(x, $items: '.stacked'); }
  &.-y { @include stack(y, $items: '.stacked'); }

  .stacked {
    &:hover,
    &:focus,
    &.-upward {
      @include stack-item-upward();
    }

    @for $idx from 3 through 6 {
      &.-x#{$idx - 1},
      &.-x#{$idx - 1} { @include stack-item-upward($idx); }
    }
  }

  &.-x .stacked {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &.-y .stacked {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}
