@include c(table) {
  border: none;

  &.-responsive {
    display: block;
    min-width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  td, th {
    padding: 0;
    text-align: left;
    border: none;
    vertical-align: top;

    @include font-type(regular);
  }

  th { @include font-type(bold); }

  thead {
    th, td {
      &:first-child { }
      &:last-child { }
    }
    th { vertical-align: bottom; }
    td {  }

    tr {
      &:first-child {
        th, td {
          &:first-child { }
          &:last-child { }
        }
        th {  }
        td {  }
      }
      &:last-child {
        th, td {
          &:first-child { }
          &:last-child { }
        }
        th {  }
        td {  }
      }
    }
  }

  tbody {
    th, td {
      &:first-child { }
      &:last-child { }
    }
    th {  }
    td {  }

    tr {
      &:first-child {
        th, td {
          &:first-child { }
          &:last-child { }
        }
        th {  }
        td {  }
      }
      &:last-child {
        th, td {
          &:first-child { }
          &:last-child { }
        }
        th {  }
        td {  }
      }
    }
  }


}
