@import '~modernizr-mixin/stylesheets/modernizr';
@import '~sassdash/index';

@import 'utils/box';

/** todo: */
@mixin at-root {

  @at-root {

    @content;
  }

}

@mixin va-middle () {
  // флексбоксами
}

@mixin va-middle-legacy () {
  // таблицами
}

@mixin x-stack () {
  // для .input-group
}

@mixin y-stack (

) {
  // для вертикальных списков
}

@mixin fullpage-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
