@import '~modernizr-mixin/stylesheets/modernizr';

@mixin box () {

}

@mixin unbox ($dims, $fixed: false) {

  @if $fixed == true {
    // position: fixed;
  } @else {
    // margin: -$dims;
  }

}

@function bounds ($bounds) {
  $length: length($bounds);

  $x: null;
  $y: null;
  $top: null;
  $right: null;
  $bottom: null;
  $left: null;

  @if $length == 1 {
    $top: nth($bounds, 1);
    $right: $top;
    $bottom: $top;
    $left: $top;
  }
  @elseif $length == 2 {
    $top: nth($bounds, 1);
    $right: nth($bounds, 2);
    $bottom: $top;
    $left: $right;
  }
  @elseif $length == 3 {
    $top: nth($bounds, 1);
    $right: nth($bounds, 2);
    $bottom: nth($bounds, 3);
    $left: $right;
  }
  @elseif $length == 4 {
    $top: nth($bounds, 1);
    $right: nth($bounds, 2);
    $bottom: nth($bounds, 3);
    $left: nth($bounds, 4);
  }

  @if ($top != null and $top == $bottom) {
    $y: $top;
  }
  @if ($right != null and $right == $left) {
    $x: $right;
  }

  $bounds: (
             x: $x,
             y: $y,
             top: $top,
             right: $right,
             bottom: $bottom,
             left: $left,
           );

  $remove-keys: ();
  @each $side, $size in $bounds {
    @if $size == null {
      $remove-keys: append($remove-keys, $side);
    }
  }

  $bounds: map-remove($bounds, $remove-keys...);

  @return $bounds;
}

$bounds: bounds(1px);
$bounds: bounds(1px 2px);
$bounds: bounds(1px 2px 3em);
$bounds: bounds(1px 2px 3px 4px);

$bounds: bounds(null 2px);
$bounds: bounds(1px null);

$bounds: bounds(null 2px 3px);
$bounds: bounds(1px null 3px);
$bounds: bounds(1px 2px null);

$bounds: bounds(null 2px 3px 4px);
$bounds: bounds(1px null 3px 4px);
$bounds: bounds(1px 2px null 4px);
$bounds: bounds(1px 2px 3px null);
