/* States
*************************************************/
$is-hovered:   unquote('&:hover, &.is-hovered') !default;
$is-focused:   unquote('&:focus, &.is-focused') !default;
$is-active:    unquote('&:active, &.is-active') !default;
$is-visited:   unquote('&:visited, &.is-visited') !default;
$is-required:  unquote('&.is-required, &[required]') !default;
$is-disabled:  unquote('&.is-disabled, &[disabled], fieldset[disabled] &, fieldset.is-disabled &') !default;
$is-error:     unquote('&.is-error') !default;
$is-danger:    unquote('&.is-danger') !default;
$is-success:   unquote('&.is-success') !default;
$is-primary:   unquote('&.is-primary') !default;
$is-expanded:  unquote('&.is-expanded') !default;
$is-collapsed: unquote('&.is-collapsed') !default;
$is-selected:  unquote('&.is-selected') !default;
$is-loading:   unquote('&.is-loading') !default;
$is-loaded:    unquote('&.is-loaded') !default;
$is-visible:   unquote('&.is-visible') !default;
$is-hidden:    unquote('&.is-hidden, &[hidden]') !default;
/* //States
*************************************************/

