// FLA attribute names
$LAYOUT : "layout";
$SELF   : "self";

@import '~flex-layout-attribute/sass/flex-layout-attribute/_reset';
@import '~flex-layout-attribute/sass/flex-layout-attribute/_layout';
@import '~flex-layout-attribute/sass/flex-layout-attribute/_self';

/* Optional additional features — (un)comment to include/exclude */
@import '~flex-layout-attribute/sass/flex-layout-attribute/_layout-responsive';
@import '~flex-layout-attribute/sass/flex-layout-attribute/_self-responsive';

// custom overrides
[layout*="row"], [layout*="column"] {
  width: auto;
  max-width: none;
}
