$layout: '.layout' !default;
$layout-main: '.layout-main' !default;
$layout-footer: '.layout-footer' !default;
$layout-header: '.layout-header' !default;
$sticky-footer-method: flex !default; // or "flex"

@if $layout {
  @include layout-sticky-footer (
    $container: $layout,
    $main: $layout-main,
    $footer: $layout-footer,
    $header: $layout-header,
    $method: $sticky-footer-method
  );
}
