$sidebars-padding: 1rem !default;
$sidebars-padding-options: x between half-between !default;
$sidebars-center: '.center' !default;

.sidebars {
  @include sidebars($sidebars-padding, $sidebars-padding-options, $sidebars-center);
}
