@import '~sassdash/index';
@import 'states';

@function important ($important: false) {
  @return if($important == true, !important, null);
}

%x-centered-block {
  margin-left: auto;
  margin-right: auto;
}

@mixin clearfix () {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin is-focusable ($important: false) {
  $i: important($important);

  @include state-is (focus) {
    // Default
    outline: thin dotted $i;
    // WebKit
    //outline: 5px auto -webkit-focus-ring-color $i;
    outline-offset: -2px $i;
  }
}

@mixin is-not-focusable ($important: false) {
  $i: important($important);

  @include state-is (focus) {
    outline: none $i;
    outline-offset: 0 $i;
  }
}

@mixin accelerate {
  transform: translate3d(0, 0, 0);
}

@mixin outline-shadowed (
  $color: #fff,
  $inner-color: #000
) {
  box-shadow: inset rgba($inner-color, 0.75) 0 1px 0,
                    rgba($color, 0.5) 0 1px 0;
}

@mixin reset-borders ($important: false) {
  $i: important($important);

  border: none $i;
  outline: none $i;
  box-shadow: none $i;
  text-decoration: none $i;
}


@mixin va-middle () {
  // флексбоксами
}

@mixin va-middle-legacy () {
  // таблицами
}

@mixin x-stack () {
  // для .input-group
}

@mixin y-stack (

) {
  // для вертикальных списков
}

@mixin fullpage-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

$selection-color: #363636 !default;
$selection-background: #b3d4fc !default;
@mixin selection (
  $color: $selection-color,
  $background: $selection-background
) {
  &::-moz-selection {
    color: $color;
    background: $background;

    @content;
  }

  &::selection {
    color: $color;
    background: $background;

    @content;
  }
}

$hr-height: 1px;
$hr-color: inherit;
@mixin hr (
  $color: $hr-color,
  $height: $hr-height
) {
  display: block;
  height: $height;
  border: 0;
  border-top: $height solid $color;
  padding: 0;
}

@mixin reset-link ($important: false) {
  @include state-is (normal, hover, focus, active, link, visited) {
    @include reset-borders($important);
    cursor: default;
    color: inherit;
  }
}

@mixin reset-list ($important: false) {
  $i: important($important);

  list-style: none $i;
  margin: 0 $i;
  padding: 0 $i;
  background: none $i;
  display: block $i;

  > li {
    list-style: none $i;
    margin: 0 $i;
    padding: 0 $i;
    background: none $i;
    display: block $i;
  }
}
