@import '~sassdash/index';

@function extract-current ($selectors, $with-states: false) {
  $retVal: ();

  @debug('$selectors: #{$selectors}');

  @each $selector in $selectors {
    //@debug('$selector: #{$selector}');

    $current: _last($selector);
    @if $with-states == true {
      $retVal: append($retVal, $current, comma);
    } @else {
      $splitted: _split($current, ':');
      $current: nth($splitted, 1);
      //$states: _drop($splitted, 1);
      //$states: _join($states, ':');
      //$states: if($states != '' and $states != null, ':#{$states}', null);

      $retVal: append($retVal, $current, comma);
    }
  }

  $retVal: _uniq($retVal);

  @debug('$retVal: #{$retVal}');

  @return $retVal;
}

.qweqwe,
.qweqwe-2 {

  //.asd {
    &:hover,
    .zxc {
      //@debug('#{&} + #{extract-current(&)}');
      @each $item in extract-current(&) {
        //@debug('$item: #{$item}');
        & + #{$item} {
          zxc: 123;
        }
      }
    }
  //}
}

// из обычной строки, разделённой запятыми, получает нормальный список селекторов
@function parse-selectors ($selectors...) {
  $s: ();
  @each $selector in $selectors {
    $tmp: _split($selector, ',');
    @each $item in $tmp {
      $s: append($s, _trim($item), comma);
    }
  }

  @return $s;
}

// Повышает специфичность
// `.className` => `.className.className`
// осторожно! `h1` => `h1h1`
@mixin power () {
  $selectors: ();

  @each $selector in & {
    $current: _last($selector);
    $parents: _drop-right($selector, 1);

    $splitted: _split($current, ':');

    $current: nth($splitted, 1);
    $power: if($current != '*', $current, '');

    $states: _drop($splitted, 1);
    $states: _join($states, ':');
    $states: if($states != '' and $states != null, ':#{$states}', null);

    $selectors: append($selectors, #{$parents} #{$power}#{$current}#{$states}, comma);
  }

  @at-root #{$selectors} {
    @content;
  }
}

// Проксирует стили на указанный селектор
@mixin proxy ($target...) {
  @if $target == & or $target == null {
    & {
      @content;
    }
  } @else {
    & #{$target} {
      @content;
    }
  }
}
