$panel-box-bounds: get-bounds-map($panel-box) !default;

.create-task {

  &-header {
    @include box($panel-box);

    .closer {
      @include unboxing($panel-box, top right bottom);
      @include box($panel-box);
      @include opacity-states();
    }
  }

  .task-name-control {
    @include box($panel-box, left);
    display: block;
  }

  .properties {
    @include box($panel-box);

    border-top: 1px solid $borders-color;
  }

  .additional-properties-switcher {
    @include box(.5em 1em);
    @include link($color-normal: $link-color, $color-hover: lighten($link-color, 20%));

    display: block;
    white-space: nowrap;
    text-align: center;
    border: none !important;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .c-switch {
      width: 25px;
      margin-right: 10px;
    }
  }

  .schedules {
    border-top: 1px dashed $borders-color;
    border-bottom: 1px dashed $borders-color;

    .schedule {
      @include box($panel-box);

      background: #f5f6fa;

      margin-top: 2px;
      &:first-child { margin-top: 0; }
    }

    .week-day-checked {
      margin-left: 14px;
      &:first-child { margin-left: 0; }
    }
  }

}
