$panel-box-bounds: get-bounds-map($panel-box) !default;

.create-task {

  &-header {
    @include box($panel-box);

    .closer {
      @include unboxing($panel-box, top right bottom);
      @include box($panel-box);
      @include opacity-states();
    }
  }

  .task-name-control {
    @include box($panel-box, left);
    display: block;
  }

  .properties,
  .notifications {
    @include box($panel-box);
  }
  .actions {
    @include box(map-get($panel-box-bounds, x));
  }
  .actions,
  .properties { border-top: 1px solid $borders-color; }

  .schedule-time-creator,
  .schedule-time-remover,
  .additional-properties-switcher {
    @include box(.5em 1em);
  }

  //.schedule-time-remove {
  //  @include link(
  //    $color-normal: $link-color-active,
  //    $color-hover:  lighten($link-color-active, 20%),
  //    $color-active: $link-color,
  //    $proxy: '.text'
  //  );
  //
  //  .text { border: none !important; }
  //}

  .additional-properties-switcher {
    @include link($color-normal: $link-color, $color-hover: lighten($link-color, 20%));

    display: block;
    white-space: nowrap;
    text-align: center;
    border: none !important;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .c-switch {
      width: 25px;
      margin-right: 10px;
    }
  }

  .schedules {
    border-top: 1px dashed $borders-color;
    border-bottom: 1px dashed $borders-color;

    .schedule {
      @include box($panel-box);

      background: #f5f6fa;

      margin-top: 2px;
      &:first-child { margin-top: 0; }
    }

    .week-day-checkers {
      $checker-box: .5em 7px;
      $checker-box-bounds: get-bounds-map($checker-box);

      @include box($checker-box, y);
      @include unboxing($checker-box);

      .checker {
        //@include unboxing($checker-box, y);
        @include box($checker-box);
        white-space: nowrap;
      }
    }
  }
}
