.v-checkbox {
  .icon-checkbox {
    transition: opacity .1s ease-out;
    opacity: .5;
  }

  &:hover .icon-checkbox,
  &:focus .icon-checkbox {
    opacity: .8;
  }
  &:active .icon-checkbox {
    opacity: .4;
  }

  &.is-checked {
    .icon-checkbox {
      opacity: 1;
    }

    &:active .icon-checkbox {
      opacity: .4;
    }
  }
}


.i {
  @include hide-text;
  @include icon-base;

  &.-megafon,
  &.-megaphone {
    @include img-icon('../../img/icons/megafon.png', $ratio: 1);
  }

  &.-mts {
    @include img-icon('../../img/icons/mts.png');
  }

  &.-beeline {
    @include img-icon('../../img/icons/beeline.png');
  }

  &.-tele2 {
    @include img-icon('../../img/icons/tele2.png');
  }

  &.-google {
    @include img-icon('../../img/icons/google.png');
  }

  &.-yandex {
    @include img-icon('../../img/icons/yandex.png');
  }

  &.-double-eagle {
    @include img-icon('../../img/icons/double-eagle.png');
  }

  &.-nextgis {
    @include img-icon('../../img/icons/nextgis.png');
  }

  &.-radius {
    @include img-icon('../../img/icons/radius.png');
  }

  &.-sector {
    @include img-icon('../../img/icons/sector.png');
  }

  &.-utech {
    @include img-icon('../../img/icons/utech.png');
  }

  &.-voronoi {
    @include img-icon('../../img/icons/voronoi.png');
  }

  &.-folder-new {
    @include img-icon('../../img/icons/folder-new.png');
  }

  &.-phone-new {
    @include img-icon('../../img/icons/phone-new.png');
  }

  &.-polygon-new {
    @include img-icon('../../img/icons/polygon-new.png');
  }

  &.-task-new {
    @include img-icon('../../img/icons/task-new.png');
  }

  &.-search-list {
    @include img-icon('../../img/icons/search-list.png');
  }


  //&.-polygon-new {
  //  //@include icon('./fontello/2.svg');
  //  background-image: url('./fontello/2.svg');
  //  width: 25px;
  //  height: 25px;
  //}
  //
  //&.-task-new {
  //  //@include icon('./fontello/2.svg');
  //  background-image: url('./fontello/3.svg');
  //  width: 25px;
  //  height: 25px;
  //}
  //
  //&.-project-new {
  //  //@include icon('./fontello/2.svg');
  //  background-image: url('./fontello/4.svg');
  //  width: 25px;
  //  height: 25px;
  //}
}