$layout-header-height: 46px;

.layout-header { height: $layout-header-height; }

.layout-sidebars {
  $transition: .1s ease-out;

  .layout-content {
    transition: padding-left $transition;

    .layout-header { @include md-shadow(2); }
  }

  .layout-burger-toggle {
    opacity: 0;
    transition: opacity $transition;
  }

  &.-closed-left {
    .layout-content { padding-left: 0; }
    .layout-left { transform: translateX(-100%); }
    .layout-burger-toggle { opacity: 1; }
  }

  $height: 100vh;
  .layout-left {
    height: $height;
    &-content {
      max-height: calc(#{$height} - #{$layout-header-height});
      overflow: auto;
    }
  }
  .layout-content {
    height: $height;
    &-inner {
      height: calc(#{$height} - #{$layout-header-height});
      overflow: auto;
    }
  }

  .layout-left {
    transition: transform $transition;
    border-right: 1px solid #fff;

    .layout-header { border-bottom: 1px solid $borders-color; }

    &-content {
      &-inner {
        @include md-shadow(2);
      }
    }
  }

  .layout-content-inner { @include box($panel-box); }
}

#ui {
  padding: 2rem 5rem;
}
