$panel-box-bounds: get-bounds-map($panel-box) !default;

.layers-checkers-block {
  .layers-checkers-toggler {}
  .layers-checkers-panel { display: none; }

  &.is-expanded {
    .layers-checkers-toggler { display: none; }
    .layers-checkers-panel { display: block; }
  }
}

.layers-checkers {
  white-space: nowrap;

  &-header {
    @include box($panel-box);
    border-bottom: 1px solid $borders-color;

    .closer {
      display: block;
      text-align: right;
      @include unboxing($panel-box, top right bottom);
      @include box($panel-box);
      @include opacity-states();
    }
  }

  $panel-box-half-top:    map-get($panel-box-bounds, top) /2;
  $panel-box-half-bottom: map-get($panel-box-bounds, bottom) /2;

  .checkers {
    @include box($panel-box-half-top 0 $panel-box-half-bottom 0);
  }
  .checker {
    @include box($panel-box-half-top 0 $panel-box-half-bottom 0, y);
    @include box($panel-box, x);

    display: block;
    font-size: 12px;

    &:hover   { background: $bg-color-item-hover; }
    &-control { margin-right: 10px; }
    &-icon    { margin-right: 5px; vertical-align: top; }
  }
}
