$panel-box-bounds: get-bounds-map($panel-box) !default;

.login {

  &-header {
    @include box($panel-box);
    border-bottom: 1px solid $borders-color;

    .closer {
      @include unboxing($panel-box, top right bottom);
      @include box($panel-box);
      @include opacity-states();
    }
  }

  .actions {
    @include box(map-get($panel-box-bounds, x));
    border-top: 1px solid $borders-color;
  }
}
