.pagination {
  @include box($panel-box);
  @include unboxing($panel-box, x bottom);

  @include stack(x, $items: '.link, .placeholder');

  .link,
  .placeholder {
    border: 1px solid $borders-color;
    border-radius: $base-radius;

    @include box(5px 10px);
  }

  .link {
    &:hover { background: $borders-color; }

    //&:hover,
    //&:active { @include stack-item-upward; }

    &.is-active {
      @include link-all-states {
        color: #fff;
        border: 1px solid $color-primary;
        background-color: $color-primary;
      }
    }
  }

  .link.is-disabled,
  .placeholder {
    @include link-all-states {
      cursor: default;
      background: none;
      color: $base-color-muted;
    }
  }
}
