.projects-list {
  font-size: 13px;

  > .actions {
    $border: 1px solid $borders-color;
    //border-top: $border;
    border-bottom: $border;

    .addon,
    .action {
      @include box(8px 14px);
      text-align: center;
    }

    .addon { color: $base-color-muted; }

    .action {
      @include font-type(bold);
      border-left: $border;

      .icon {
        max-width: 16px;
        margin-right: 3px;
      }
    }
  }

  > .filters { @include box($panel-box); }

  > .list {
    @include box($panel-box);

    border-top: 1px solid $borders-color;

    .actions {
      $box: 1px 3px;

      @include unboxing($box);
      .action { @include box($box); }
    }

    > .list-inner > .item {
      border-top: 1px dashed $borders-color;
      &:first-child { border-top: none; }
    }

    .item {
      .item {
        border-top: 1px dashed $borders-color;

        .content:before {
          content: '';
          position: absolute;
          display: block;
          height: 1px;
          background: $borders-color;
          width: 8px;
          top: 13px;
          left: -8px;
        }
      }

      .content {
        position: relative;
        z-index: 2;

        .title { cursor: pointer; }
        .actions {
          opacity: .3;
          transition: .1s opacity ease-out;

          &:hover .action {
            @include opacity-states(
              $normal: .5,
              $hover: 1,
              $active: .3
            );
          }
        }
        &:hover .actions { opacity: 1; }
      }

      $content-box: 6px 4px;
      > .content {
        @include unboxing($content-box, x);
        @include box($content-box, x);

        .title,
        .actions { @include box($content-box, y); }

        .title {
          @include opacity-states(
            $normal: .9,
            $hover: 1,
            $active: .6
          );
        }

        .item-icon {
          $box: 2px 4px;
          @include box($box);
          @include unboxing($box);

          color: $color-primary;
          margin-right: 0;
          background: #fff;
        }
      }

      .list {
        display: none;

        border-left: 1px solid $borders-color;
        padding-left: 12px;
        margin-left: 6px;

        position: relative;
        top: -13px;

        > .list-inner {
          position: relative;
          top: 13px;
        }
      }

      @mixin active-item {
        &.is-active {
          &,
          & + .item { border-top: 1px solid transparent; }

          > .content {
            &, .item-icon { background: $bg-color-item-hover; }
          }
        }
      }

      &.folder {
        > .content .icon {
          @extend %fontello-base;
          @extend .icon-folder;
        }

        &.is-expanded {
          > .list { display: block; }
          > .content .icon {
            @extend %fontello-base;
            @extend .icon-folder-open;
          }
        }
      }

      &.task {
        @include active-item;

        > .content .item-icon { display: none; }

        &.has-errors > .content {
          .item-icon { display: inline-block; }
          .icon {
            @extend %fontello-base;
            @extend .icon-attention-circled;
            color: $color-danger;
            font-size: 12px;
          }
        }

        .title,
        .description { padding: 0; }
        .title { @include box($content-box, top); }
        .description {
          font-size: 11px;
          margin-top: 2px;
          @include box($content-box, bottom);
        }
      }

      &.polygon {
        @include active-item;

        > .content {
          .item-icon { margin-right: 2px; }
          .icon {
            @extend %fontello-base;
            @extend .icon-connectdevelop;
          }
        }
      }
    }
  }
}
