$panel-box-bounds: get-bounds-map($panel-box) !default;

.search-form {
  @include box($panel-box);

  &,
  [layout] {
    > * {
      padding-left: map-get($panel-box-bounds, y);
      &:first-child { padding-left: 0; }
    }
  }
}

.search-results {
  border-top: 1px solid $borders-color;
  @include box($panel-box, right bottom left);

  .search-results-title {
    margin: 0;
    @include box($panel-box);
    @include unboxing($panel-box, x);
  }
  .search-results-closer {
    @include unboxing($panel-box);
    @include box($panel-box);
    @include opacity-states();
  }

  $table-cells-box: 5px 15px;
  &-table {
    min-width: 100%;

    td, th { font-size: 12px; }

    @include table-cells-padding($table-cells-box, x between half-between);
    @include table-cells-padding($table-cells-box, y);
    > tbody { @include table-cells-border(1px dashed $borders-color, between top, $blocks: false); }

    @include table-ears () {
      background: $borders-color;
      width: map-get($panel-box-bounds, x);
    }

    thead {
      color: $base-color-muted;
      background: $borders-color;

      th { vertical-align: middle; }
    }

    .station {
      &-sources-list {
        white-space: nowrap;

        .station-source {
          padding-left: 12px;
          &:first-child { padding-left: 0; }
        }

        &:hover .station-source {
          @include opacity-states($normal: .5, $active: 1);
        }
      }
    }

    .station-details {
      &-table {
        @include table-cells-padding($table-cells-box, x around between half-between);
        @include table-cells-padding($table-cells-box, y);

        @include table-cells-border(1px solid $borders-color, around left right bottom);
        > tbody { @include table-cells-border(1px dashed $borders-color, y between, $blocks: false); }
      }

      .th-icon-checkbox {
        @include opacity-states();
      }
      .wide-checkbox {
        @include unboxing(5px 7px);
        @include box(5px 7px);
      }
    }

    .station-details { display: none; }
    .station.is-expanded {
      & + .station-details {
        display: table-row;
        > td, > th { border-top: none !important; }

        & + .station {
          > td, > th { border-top: none !important; }
        }
      }
    }
  }
}
