$panel-box-bounds: get-bounds-map($panel-box) !default;

.task-details {

  &-header {
    @include box($panel-box);

    .closer {
      @include unboxing($panel-box, top right bottom);
      @include box($panel-box);
      @include opacity-states();
    }
  }
  .task-editor-link {
    @include link-reset;

    @include unboxing($panel-box, top bottom);
    @include box($panel-box, top bottom left);
    @include font-type(regular);
    font-size: 14px;
    display: inline-block;

    @include link(
      $color-normal: $link-color,
      $border-color-normal: transparent,
      $border-color-hover: transparent,
      $border-color-active: transparent,

      $proxy: '.icon'
    );
    @include link(
      $color-normal: $link-color,
      //$color-hover: lighten($link-color, 20%),

      $proxy: '.text'
    );
    .text {
      margin-left: 5px;
      @include link-pseudo;
    }
  }

  .filters-form,
  .description,
  .pagination {
    border-top: 1px solid $borders-color;
  }

  .filters-form {
    @include box($panel-box);

    &,
    [layout] {
      > * {
        padding-left: map-get($panel-box-bounds, y);
        &:first-child { padding-left: 0; }
      }
    }
  }

  $table-cells-box: 5px 15px;
  &-table {
    @include box($panel-box, x);

    > table {
      $table-cells-box: 5px 15px;
      min-width: 100%;

      td, th { font-size: 12px; }

      @include table-cells-padding($table-cells-box, x between half-between);
      @include table-cells-padding($table-cells-box, y);
      > tbody { @include table-cells-border(1px dashed $borders-color, between top, $blocks: false); }

      @include table-ears () {
        background: $borders-color;
        width: map-get($panel-box-bounds, x);
        z-index: -1;
      }

      thead {
        color: $base-color-muted;
        background: $borders-color;

        th { vertical-align: middle; }
        a {
          @include link(
            $color-normal: $base-color-muted,
            $color-hover: $base-color,

            $border-color-normal: transparent,
            $border-color-hover: transparent,
            $border-color-focus: transparent,
            $border-color-active: transparent,
            $border-color-visited: transparent,

            $transition-normal: (color .2s ease-out),
            $transition-active: (color .1s ease-out)
          );
        }
      }

      .cell-unboxing {
        @include unboxing(5px 7px);
        @include box(5px 7px);
        display: block;
      }

      .station {
        &-sources-list {
          white-space: nowrap;

          .station-source {
            padding-left: 12px;
            &:first-child { padding-left: 0; }
          }

          &:hover .station-source {
            @include opacity-states($normal: .5, $active: 1);
          }
        }
      }

      .station-details {
        &-table {
          @include table-cells-padding($table-cells-box, x around between half-between);
          @include table-cells-padding($table-cells-box, y);

          @include table-cells-border(1px solid $borders-color, around left right bottom);
          > tbody { @include table-cells-border(1px dashed $borders-color, y between, $blocks: false); }
        }

        .icon-checkbox {
          @extend %link;
          @include opacity-states();
          //@include link(
          //  $color-normal: $base-color-muted,
          //  $color-hover: $base-color,
          //
          //  $border-color-normal: transparent,
          //  $border-color-hover: transparent,
          //  $border-color-focus: transparent,
          //  $border-color-active: transparent,
          //  $border-color-visited: transparent,
          //
          //  $transition-normal: (color .2s ease-out),
          //  $transition-active: (color .1s ease-out)
          //);
        }
      }

      .station-details { display: none; }
      .station.is-expanded {
        & + .station-details {
          display: table-row;
          > td, > th { border-top: none !important; }

          & + .station {
            > td, > th { border-top: none !important; }
          }
        }
      }
    }
  }
}