.top-menu {

  &-link {
    @include link (
      $color-normal: $base-color-muted,
      $color-hover: $base-color,
      $color-active: $base-color,

      $border-color-normal: transparent,
      $border-color-hover: transparent,
      $border-color-focus: transparent,
      $border-color-active: transparent,
      $border-color-visited: transparent,

      $transition-normal: (color .2s ease-out, background .2s ease-out),
      $transition-active: (color .1s ease-out, background .1s ease-out),
      $transition-visited: (color .2s ease-out, background .2s ease-out),

      $css-normal: (background: $borders-color),
      $css-visited: (),
      $css-hover: (),
      $css-focus: (),
      $css-active: (background: #fff)
    );

    &.is-active {
      @include link (
        $color-normal: $base-color,
        $color-hover: $base-color-accent-x2,
        $color-active: $base-color-muted,

        $border-color-normal: transparent,
        $border-color-hover: transparent,
        $border-color-focus: transparent,
        $border-color-active: transparent,
        $border-color-visited: transparent,

        $transition-normal: (color .2s ease-out, background .2s ease-out),
        $transition-active: (color .1s ease-out, background .1s ease-out),
        $transition-visited: (color .2s ease-out, background .2s ease-out),

        $css-normal: (background: #fff),
        $css-visited: (),
        $css-hover: (),
        $css-focus: (),
        $css-active: ()
      );
    }

    @include font-type(bold);
    @include box(14px 30px);

    white-space: nowrap;
    display: block;
    position: relative;
    text-align: center;

    &.-square {
      @include box(14px 15px);
      @include opacity-states(
        $normal: .8,
        $hover: 1,
        $active: 1,
        $proxy: '.top-menu-item-icon:before'
      );

      .top-menu-item-icon:before { line-height: 1.2; }

      &.is-active {
        @include opacity-states(
          $normal: .8,
          $hover: 1,
          $active: .6,
          $proxy: '.top-menu-item-icon:before'
        );
      }
    }

    .counter {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1;
      font-size: 9px;
      border-bottom-left-radius: 8px;
      padding: 3px 3px 2px 4px;

      color: #fff;
      background: $color-primary;
    }
  }

  &-item-icon {
    color: $color-primary;
  }
}
