.tmp {
  content: 'zxczxc';
}

.zxc {
  background: url('../../images/felix.png');
}

.asd {
  background: url('../../../bower_components/font-awesome/fonts/fontawesome-webfont.svg');
}

p {
  font-weight: bold;
}