style.
  .component-pug .item {
    background: url(../../../images/felix.png) no-repeat center center transparent;
  }

  .component-pug .item2 {
    background: url(../../../images/autumn.jpg) no-repeat center center transparent;
  }

p: img(src='../../../../images/felix.png')
p: img(src='../../../../images/autumn.jpg')
