@mixin auto-sidebars-aside (
  $position,
  $gutter: 0,
  $gutter-property: padding
) {
  $position: unquote($position);
  float: $position;
  #{$gutter-property}-#{flip-direction($position)}: $gutter;
}

@mixin auto-sidebars-center () {
  overflow: hidden;
  display: block;
}
