/**
 * @todo: flex
 * плюс сюда же, по логике, относится inline-block-list
 */

@mixin equal-parts (
  $items: '> *',
  $type: table
) {
  @if $type == table {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;

    #{$items} {
      display: table-cell;
    }
  }
  //@else if $type == flex {
  //  @extend %flexbox;
  //
  //  @if index($childrenEle, $children) {
  //    #{$children} {
  //      @extend %equalflex;
  //    }
  //  }
  //  @else {
  //    .#{$children} {
  //      @extend %equalflex;
  //    }
  //  }
  //}
  //@else {
  //  @warn "You have to put #{$type} value is set to the table or flex! "
  //}
}
