@mixin layout-width (
  $min-width: null,
  $max-width: null,
  $side-space-width: 0,
  $side-space-type: padding // `padding` or `margin`
) {
  /** сбрасываем значения переменных, если у них неправильный формат */
  $min-width: if(type-of($min-width) == number and $min-width > 0, $min-width, null);
  $max-width: if(type-of($max-width) == number and $max-width > 0, $max-width, null);
  $side-space-width: if(type-of($side-space-width) == number and $side-space-width > 0, $side-space-width, 0);
  $side-space-type: if($side-space-type == padding or $side-space-type == margin, $side-space-type, padding);

  @if $min-width or $max-width {
    @include is-centered-block;

    @if $min-width { min-width: $min-width + $side-space-width*2; }
    @if $max-width { max-width: $max-width + $side-space-width*2; }

    @if $side-space-width {
      #{$side-space-type}-left: $side-space-width;
      #{$side-space-type}-right: $side-space-width;
    }
  }
}

//  <body>
//    <div class="#{$container}">
//      <header class="#{$header}">…</header>
//      <div class="#{$main}">…</div>
//      <footer class="#{$footer}">…</footer>
//    </div>
//  </body>
@mixin layout-sticky-footer (
  $container,
  $main,
  $footer: null,
  $header: null,
  $method: table // `table` or `flex`
) {
  /** сбрасываем значения переменных, если у них неправильный формат */
  $main: if(type-of($main) == string and $main != '', $main, null);
  $footer: if(type-of($footer) == string and $footer != '', $footer, null);
  $header: if(type-of($header) == string and $header != '', $header, null);
  $method: if($method == flex or $method == table, $method, table);

  @if $method == flex {
    /**
     * http://css-live.ru/articles/uporyadochivanie-bagov-krossbrauzernosti-flexbox.html?replytocom=217028#respond
     *
     * 1. Избегайте бага с `min-height` в IE 10-11
     * 2. Установите `flex-shrink` в `0`,
     *    чтобы не дать этим элементам в Chrome, Opera и Safari
     *    стать меньше чем их минимальный размер контента по умолчанию.
     */
    html { height: 100%; }
    body { min-height: 100%; }

    #{$container} {
      display: flex;
      flex-direction: column;
      height: 100vh; /* 1 */
    }

    @if $main {
      #{$main} { flex: 1 0 auto; /* 2 */ }
    }
    @if $header {
      #{$header} { flex-shrink: 0; /* 2 */ }
    }
    @if $footer {
      #{$footer} { flex-shrink: 0; /* 2 */ }
    }
  }

  @if $method == table {
    html { height: 100%; }
    body {
      min-height: 100%;
      width: 100%;
    }

    #{$container} {
      display: table;
      min-height: 100%;
      min-width: 100%;
    }

    @if $main {
      #{$main} {
        display: table-row;
        height: 100%;
      }
    }
  }
}

//  <div class="layout-sidebars"> <!-- here is conteXt -->
//    <div #{$content-outer} role="main">
//      <main #{$content} role="main">…</main>
//    </div>
//    <aside #{$left}>…</aside>
//    <aside #{$right}>…</aside>
//  </div>
@mixin layout-sidebars (
  $content-outer,
  $content,

  $left,
  $right,

  $left-width: 0,
  $right-width: 0,

  $left-gutter: 0,
  $right-gutter: 0
) {
  @include clearfix;

  /** сбрасываем значения переменных, если у них неправильный формат */
  $content-outer: if(type-of($content-outer) == string and $content-outer != '', $content-outer, null);
  $content: if(type-of($content) == string and $content != '', $content, null);

  $left: if(type-of($left) == string and $left != '', $left, null);
  $right: if(type-of($right) == string and $right != '', $right, null);

  $left-width: if(type-of($left-width) == number and $left-width > 0, $left-width, null);
  $right-width: if(type-of($left-width) == number and $right-width > 0, $right-width, null);

  $left-gutter: if(type-of($left-gutter) == number and $left-gutter > 0, $left-gutter, 0);
  $right-gutter: if(type-of($left-gutter) == number and $right-gutter > 0, $right-gutter, 0);

  /** если нужен либо левый, либо правый (ну или оба сразу) сайдбары */
  @if ($left and $left-width) or ($right and $right-width) {
    $content-padding-left: 0;
    $content-padding-right: 0;

    /** если нужен левый */
    @if $left {
      #{$left} {
        @if not $left-width {
          display: none;
        }
        @else {
          $content-padding-left: $left-width + $left-gutter;
          float: left;
          margin-left: -100%;
          position: relative;
          width: $left-width;
        }
      }
    }

    /** если нужен правый */
    @if $right {
      #{$right} {
        @if not $right-width {
          display: none;
        }
        @else {
          $content-padding-right: $right-width + $right-gutter;

          float: left;
          margin-left: -$right-width;
          position: relative;
          width: $right-width;
        }
      }
    }

    /** контейнер контента */
    @if $content-outer {
      #{$content-outer} {
        float: left;
        overflow: hidden;
        width: 100%;
      }
    }

    /** блок с контентом */
    @if $content {
      #{$content} {
        padding-right: $content-padding-right;
        padding-left: $content-padding-left;
      }
    }
  }
}
