{
  "sourceMaps": "both",
  "ignore": ["node_modules", "bower_components"],
  "env": {
    // плагины и пресеты в режиме разработки настраивать здесь:
    "development": {
      "presets": [
        ["env", {
          "loose": false,
          "modules": false,
          "useBuiltIns": false,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ],
      "plugins": [
        "transform-export-extensions",
        "transform-object-rest-spread",
        "syntax-jsx",
        "transform-vue-jsx"
      ]
    }
  },

  // плагины и пресеты для продакшена здесь:
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": ["last 5 versions", "ie 8-9", "> 2%"]
      }
    }]
  ],
  "plugins": [
//    "lodash",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "syntax-jsx",
    "transform-vue-jsx",
    "closure-elimination"
  ]
}
