{
  "presets": ["es2015"],
  "plugins": [
    // stage-1:
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-trailing-function-commas",
    // "transform-async-to-generator", // вот из-за него не работает async/await
    "transform-exponentiation-operator",
    // end of stage-1

    "transform-promise-to-bluebird",

    "transform-es5-property-mutators",
    "syntax-async-functions",
    "transform-regenerator",

    ["transform-runtime", {
      "polyfill": true,
      "regenerator": false
    }],

    "transform-vue-jsx"
  ]
//  "ignore": [
//    "**/babel_ignore_*.js",
//    "*/js/vendor/*.js"
//  ]
}
