{
  "presets": ["es2015"/*, "stage-1"*/],
  "plugins": [
    // "transform-vue-jsx",
    "syntax-async-functions",
    "transform-regenerator",
//    "transform-async-to-generator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ]
//  "ignore": [
//    "**/babel_ignore_*.js",
//    "*/js/vendor/*.js"
//  ]
}
