node_modules
bower_components
/dev
/dist
/build
/tmp
/src/components
.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
yarn-error.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*

/Design
