$base-color: #060606 !default;
$base-font-size: 16px !default;
$base-line-height: 1.42857143 !default;

$selection-color: #363636 !default;
$selection-background-color: #b3d4fc !default;

*,
*:before,
*:after { box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html { height: 100%; }
body { min-height: 100%; }

html,
button,
input,
optgroup,
select,
textarea {
  @include font-family(base);
  @include font-type(regular);
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
}

@include selection($selection-color, $selection-background-color);
