img {
  @include is-responsive-image;
}

@include o(img) {
  &.-center {
    @include is-centered-image;
    margin-bottom: .5em;
  }

  &.-left {
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
  }

  &.-right {
    float: right;
    margin-left: 1em;
    margin-bottom: .5em;
  }
}
