img {
  @include is-responsive-image;
}

@include o(img) {
  &.-center {
    @include is-centered-image;
    margin-bottom: .5em;
  }

  &.-left {
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
  }

  &.-right {
    float: right;
    margin-left: 1em;
    margin-bottom: .5em;
  }
}

.fluid-ratio {
  background-position: center center;
  @include bg-size(cover);
  @include proportional(800px 200px, 300px 150px);
}

.ir {
  @include ir();
}
