$base-font-size: 16px !default;
$base-radius: 3px !default;

.input {
  @include input;
  @include control-size(default);
  @include input-variant(
    $bg-color-normal: #fff,
    $border-color-normal: #ccc,
    $border-color-focus: #66afe9
  );

  border-radius: $base-radius;
}

@each $size, $data in $control-sizes {
  .input--size-#{$size} {
    @include control-size($size);
  }
}

.input--wide {
  @include input-block;
}

.input--type-success {
  @include input-variant(
    $border-color-normal: #3c763d
  );
}

.input--type-warning {
  @include input-variant(
    $border-color-normal: #8a6d3b
  );
}

.input--type-danger {
  @include input-variant(
    $border-color-normal: #a94442
  );
}
