h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, hr, table,
address, menu,
fieldset, figure,
pre {
  margin: 0 0 .5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
}

h1 + h1,
h1 + h2,
h1 + h3,
h2 + h2,
h2 + h3,
h2 + h4,
h3 + h3,
h3 + h4,
h3 + h5,
h4 + h4,
h4 + h5,
h4 + h6,
h5 + h5,
h5 + h6,
h6 + h6 {
  margin-top: 0;
}

blockquote {
  font-style: italic;
  padding: .5rem .5rem .5rem 1rem;
}

ol,
ul,
dl {
  padding-left: 1rem;
}

li,
dd {
  margin-bottom: .5rem;
}

:first-child {
  margin-top: 0;
}
:last-child {
  margin-bottom: 0;
}
