/**
 * 1. Edge 12+, Internet Explorer 11-
 * 2. Fonts on OSX will look more consistent with other systems that do not render text using sub-pixel anti-aliasing.
 */
html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* 1 */
  -moz-osx-font-smoothing: grayscale;   /* 2 */
  -webkit-font-smoothing:  antialiased; /* 2 */
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

html,
button,
input,
optgroup,
select,
textarea {
  @include font($stack: systems);
}

/**
 * Fix firefox fieldset display:
 * http://stackoverflow.com/questions/17408815
 */
@-moz-document url-prefix () {
  fieldset { display: table-cell; }
}

// Internet Explorer 11-
pre {
  overflow: auto;
}

blockquote {
  font-style: italic;
  padding: 1em 1em 1em 2em;
}

menu,
ol,
ul,
dl {
  padding-left: 1.5em;
}

li,
dd {
  margin-bottom: .5em;
}

p,
ul,
ol,
blockquote,
table,
hr,
dd,
menu {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

label {
  cursor: pointer;
}

hr {
  color: inherit;
  @include hr($height: 1px);
}

a, .link {
  @include link();

  &.not-a-link {
    @include link-reset();
  }
  &.pseudo,
  &.link--pseudo {
    @include link-pseudo();
  }
  .logo &, &.logo {
    @include link-reset();
  }
}

:first-child {
  margin-top: 0;
}
:last-child {
  margin-bottom: 0;
}
