.projects

  div.controls-group.controls-group--size-sm(layout="row stretch-justify")
    .btn.btn--size-xxs .btn--size-xxs
    input.input.input--size-xxs(placeholder=".input--size-xxs", self="size-x1")
    .btn.btn--size-xxs .btn--size-xxs

  div.controls-group.controls-group--stacked
    .btn.btn--size-xs .btn--size-xs
    span.controls-group__addon Это аддон
    .btn.btn--size-sm .btn--size-sm
    input.input.input--size-default(placeholder=".input--size-default")
    .btn default
    .btn.btn--size-md .btn--size-md
    span.controls-group__addon Это аддон 2
    span.controls-group__addon Это аддон 3
    .btn.btn--size-lg .btn--size-lg
    .btn.btn--size-xl .btn--size-xl

  div.controls-group.controls-group--size-sm
    .btn.btn--size-xxs .btn--size-xxs
    .btn.btn--size-xs .btn--size-xs
    .btn.btn--size-sm .btn--size-sm
    .btn default
    .btn.btn--size-default .btn--size-default
    .btn.btn--size-md .btn--size-md
    .btn.btn--size-lg .btn--size-lg
    .btn.btn--size-xl .btn--size-xl

  div.controls-group.controls-group--size-sm
    input.input.input--size-xxs(placeholder=".input--size-xxs")
    input.input.input--size-xs(placeholder=".input--size-xs")
    input.input.input--size-sm(placeholder=".input--size-sm")
    input.input.input--size-default(placeholder=".input--size-default")
    input.input(placeholder="default")
    input.input.input--size-md(placeholder=".input--size-md")
    input.input.input--size-lg(placeholder=".input--size-lg")
    input.input.input--size-xl(placeholder=".input--size-xl")

  .projects-actions
    .controls-group.controls-group--size-xxs.controls-group--squared
      span.controls-group__addon Создать:
      a.btn #[i.i.i--project-new] Проект
      a.btn #[i.i.i--task-new] Задача
      a.btn #[i.i.i--polygon-new] Полигон

  .projects-filters.controls-group.controls-group--size-xxs
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё
  .projects-filters.controls-group.controls-group--size-xs
    input.input.input--wide(placeholder="Поиск")
    span.controls-group__addon аддон
    select.input.input--wide
      option Показать всё

  .projects-filters.controls-group.controls-group--size-sm
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё

  .projects-filters.controls-group.controls-group--size-default
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё

  .projects-filters.controls-group.controls-group--size-md
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё

  .projects-filters.controls-group.controls-group--size-lg
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё

  .projects-filters.controls-group.controls-group--size-xl
    input.input.input--wide(placeholder="Поиск")
    select.input.input--wide
      option Показать всё

  //.projects-tree
  //  .tree-list
  //    .project: span.project__title
