.projects

  div.controls-group.-size-sm(layout="row stretch-justify")
    .btn.-size-xxs .-size-xxs
    input.input.-size-xxs(placeholder=".-size-xxs", self="size-x1")
    .btn.-size-xxs .-size-xxs

  div.controls-group.-stacked
    .btn.-size-xs .-size-xs
    span.addon Это аддон
    .btn.-size-sm .-size-sm
    input.input.-size-default(placeholder=".-size-default")
    .btn default
    .btn.-size-md .btn--size-md
    span.addon Это аддон 2
    span.addon Это аддон 3
    .btn.-size-lg .-size-lg
    .btn.-size-xl .-size-xl

  div.controls-group.-size-sm
    .btn.-size-xxs .-size-xxs
    .btn.-size-xs .-size-xs
    .btn.-size-sm .-size-sm
    .btn default
    .btn.-size-default .-size-default
    .btn.-size-md .-size-md
    .btn.-size-lg .-size-lg
    .btn.-size-xl .-size-xl

  div.controls-group.-size-sm
    input.input.-size-xxs(placeholder=".-size-xxs")
    input.input.-size-xs(placeholder=".-size-xs")
    input.input.-size-sm(placeholder=".-size-sm")
    input.input.-size-default(placeholder=".-size-default")
    input.input(placeholder="default")
    input.input.-size-md(placeholder=".-size-md")
    input.input.-size-lg(placeholder=".-size-lg")
    input.input.-size-xl(placeholder=".-size-xl")

  .projects-actions
    .controls-group.-size-xxs.-squared
      span.addon Создать:
      a.btn #[i.i.i--project-new] Проект
      a.btn #[i.i.i--task-new] Задача
      a.btn #[i.i.i--polygon-new] Полигон

  .projects-filters.controls-group.-size-xxs
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё
  .projects-filters.controls-group.-size-xs
    input.input.-wide(placeholder="Поиск")
    span.addon аддон
    select.input.-wide
      option Показать всё

  .projects-filters.controls-group.-size-sm
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё

  .projects-filters.controls-group.-size-default
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё

  .projects-filters.controls-group.-size-md
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё

  .projects-filters.controls-group.-size-lg
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё

  .projects-filters.controls-group.-size-xl
    input.input.-wide(placeholder="Поиск")
    select.input.-wide
      option Показать всё

  //.projects-tree
  //  .tree-list
  //    .project: span.project__title
