@mixin is-centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-inner {
  text-align: center;

  > * {
    display: inline-block;
    text-align: left;
  }
}

@mixin center-translate($direction: both) {
  position: absolute;
  @if $direction == both {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  @else if $direction == horizontal {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  @else if $direction == vertical {
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

@mixin vertical-center () {
  // флексбоксами
}

@mixin vertical-center-table () {
  display: table;
  width: 100%;
}
@mixin vertical-center-cell () {
  display: table-cell;
  margin-top: inherit;
  vertical-align: middle;
  width: 100%;
}

@mixin vertical-center-lh ($height) {
  height: $height;
  line-height: $height;
}

@mixin vertical-center-translate () {
  transform: translate(50%, 50%);
  margin-top: -50%;
  margin-left: -50%;
}

@mixin vertical-center-ib ($selectors...) {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    // A small negative right margin is set
    // to account for the default
    // word-spacing of inline-block.
    margin-right: -0.25em;
  }

  $selectors: if(length($selectors) == 0, '*', $selectors);
  @each $cell-selector in $selectors {
    $cell-selector: unquote($cell-selector);
    & > #{$cell-selector} {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
