@mixin box (
  $bounds,
  $sides: null,
  $type: default
) {
  $bounds: get-bounds-map($bounds);

  $property: padding-;
  @if $type == outer {
    $property: margin-;
  }
  @elseif $type == fixed {
    $property: null;
    position: fixed;
  }
  @elseif $type == absolute {
    $property: null;
    position: absolute;
  }

  @if $sides == null {
    $sides: map-keys(get-bounds-map($bounds));
  }
  @if type_of($sides) != list {
    $sides: ($sides,);
  }

  @each $side in (top right bottom left x y) {
    @if index($sides, $side) != null and map-has-key($bounds, $side) == true {
      @if $side == x {
        #{$property}left:  _get($bounds, x);
        #{$property}right: _get($bounds, x);
      }
      @elseif $side == y {
        #{$property}top:    _get($bounds, y);
        #{$property}bottom: _get($bounds, y);
      }
      @else {
        #{$property}#{$side}: _get($bounds, $side);
      }
    }
  }
}

@mixin unboxing (
  $bounds,
  $sides: null
) {
  $bounds:   _map(get-bounds-list($bounds), invert-number);
  $bounds:   get-bounds-map($bounds);
  $property: margin-;

  @if $sides == null {
    $sides: map-keys(get-bounds-map($bounds));
  }
  @if type_of($sides) != list {
    $sides: ($sides,);
  }

  @each $side in (top right bottom left x y) {
    @if index($sides, $side) != null and map-has-key($bounds, $side) == true {
      @if $side == x {
        #{$property}left:  _get($bounds, x);
        #{$property}right: _get($bounds, x);
      }
      @elseif $side == y {
        #{$property}top:    _get($bounds, y);
        #{$property}bottom: _get($bounds, y);
      }
      @else {
        #{$property}#{$side}: _get($bounds, $side);
      }
    }
  }
}
