//  <div class="layout"> <!-- ".layout" - here is mixin's context -->
//    <div #{$content-container-selector} role="main">
//      <main #{$content-selector} role="main">
//        <!-- content here -->
//      </main>
//    </div>
//    <aside #{$sidebar-left-selector}>
//      <!-- sidebar left here -->
//    </aside>
//    <aside #{$sidebar-right-selector}>
//    <!-- sidebar right here -->
//    </aside>
//  </div>

$layout-content-container-selector: '.layout-content-container' !default;
$layout-content-selector: '.layout-content' !default;
$layout-sidebar-left-selector: '.layout-sidebar-left' !default;
$layout-sidebar-left-width: 0 !default;
$layout-sidebar-left-gutter: 0 !default;
$layout-sidebar-right-selector: '.layout-sidebar-right' !default;
$layout-sidebar-right-width: 0 !default;
$layout-sidebar-right-gutter: 0 !default;
@mixin carcass (
  $content-container-selector: $layout-content-container-selector,
  $content-selector: $layout-content-selector,
  $sidebar-left-selector: $layout-sidebar-left-selector,
  $sidebar-left-width: $layout-sidebar-left-width,
  $sidebar-left-gutter: $layout-sidebar-left-gutter,
  $sidebar-right-selector: $layout-sidebar-right-selector,
  $sidebar-right-width: $layout-sidebar-right-width,
  $sidebar-right-gutter: $layout-sidebar-right-gutter
) {
  @include clearfix;

  @if (
    ($sidebar-left-selector != '' and type-of($sidebar-left-width) == number and $sidebar-left-width > 0) or
    ($sidebar-right-selector != '' and type-of($sidebar-right-width) == number and $sidebar-right-width > 0)
  ) {
    $content-padding-left: 0;
    $content-padding-right: 0;

    @if ($sidebar-left-width > 0) {
      @if (type-of($sidebar-left-gutter) != number) {
        $sidebar-left-gutter: 0;
      }
      $content-padding-left: $sidebar-left-width + $sidebar-left-gutter;

      #{$sidebar-left-selector} {
        float: left;
        margin-left: -100%;
        position: relative;
        width: $sidebar-left-width;
      }
    }

    @if ($sidebar-right-width > 0) {
      @if (type-of($sidebar-right-gutter) != number) {
        $sidebar-right-gutter: 0;
      }
      $content-padding-right: $sidebar-right-width + $sidebar-right-gutter;

      #{$sidebar-right-selector} {
        float: left;
        margin-left: -$sidebar-right-width;
        position: relative;
        width: $sidebar-right-width;
      }
    }

    #{$content-container-selector} {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    #{$content-selector} {
      padding-right: $content-padding-right;
      padding-left: $content-padding-left;
    }
  }
}


//  <body>
//    <div #{$selector-container}>
//      <div #{$selector-content}>
//        <!-- content here -->
//      </div>
//    </div>
//    <footer #{$selector-footer}>
//      <!-- footer here -->
//    </footer>
//  </body>

$layout-sticky-footer-height: 100px !default;
$layout-sticky-footer-selector-container: '.layout' !default;
$layout-sticky-footer-selector-content: '.layout-middle' !default;
$layout-sticky-footer-selector-footer: '.layout-footer' !default;
@mixin sticky-footer (
  $height: $layout-sticky-footer-height,
  $selector-container: $layout-sticky-footer-selector-container,
  $selector-content: $layout-sticky-footer-selector-content,
  $selector-footer: $layout-sticky-footer-selector-footer
) {
  @if (type-of($height) == number and $height > 0) {
    html {
      height: 100%;
    }
    body {
      min-height: 100%;
    }

    #{unquote($selector-container)} {
      margin: 0;
      width: 100%;
      min-height: 100%;
      height: auto !important;
      height: 100%;
    }

    #{unquote($selector-content)} {
      padding-bottom: $height;
    }

    #{unquote($selector-footer)} {
      margin-top: -$height;
      height: $height;
      position: relative;
      overflow: hidden;
    }
  }
}

/**
 * 1. Избегайте бага с `min-height` в IE 10-11
 * 2. Установите `flex-shrink` в `0`,
чтобы не дать этим элементам в Chrome, Opera и Safari
стать меньше чем их минимальный размер контента по умолчанию.
 */
/*/
//  <body class="Site">
//    <header class="Site-header">…</header>
//    <main class="Site-content">…</main>
//    <footer class="Site-footer">…</footer>
//  </body>
//
//  html {
//    height: 100%;
//  }
//  .Site {
//    display: flex;
//    flex-direction: column;
//    height: 100vh; /* 1 */
//  }
//  .Site-header,
//  .Site-footer {
//    flex-shrink: 0; /* 2 */
//  }
//  .Site-content {
//    flex: 1 0 auto; /* 2 */
//  }
/*/


//  <body>
//    <div class="content">
//      <h1>Sticky Footer with Table-Row</h1>
//      <p><button id="add">Add Content</button></p>
//    </div>
//    <footer class="footer">…</footer>
//  </body>
//
//  html {
//    height: 100%;
//  }
//  body {
//    min-height: 100%;
//    display: table;
//    width: 100%;
//  }
//  .content {
//    display: table-row;
//    height: 100%;
//    padding: 20px;
//  }
//  .footer {
//    padding: 20px;
//  }


@mixin page-width (
  $min-width: 960px,
  $max-width: 1400px,
  $side-space: 20px,
  $side-space-type: padding // or "margin"
) {
  $min-width:  if(type-of($min-width)  == number and $min-width > 0,  $min-width,  0);
  $max-width:  if(type-of($max-width)  == number and $max-width > 0,  $max-width,  0);
  $side-space: if(type-of($side-space) == number and $side-space > 0, $side-space, 0);
  $side-space-type: if($side-space-type == padding or $side-space-type == margin, $side-space-type, padding);

  @if $min-width > 0 or $max-width > 0 {
    @include centered-block;

    @if ($min-width > 0) {
      min-width: $min-width + $side-space*2;
    }
    @if ($max-width > 0) {
      max-width: $max-width + $side-space*2;
    }

    #{$side-space-type}-left: $side-space;
    #{$side-space-type}-right: $side-space;
  }
}
