///
/// div::after {
///   @include pseudo;
///   top: -1rem; left: -1rem;
///   width: 1rem; height: 1rem;
/// }
///

@mixin pseudo ($display: block, $position: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $position;
}
