@mixin opacity-states (
  $normal: .8,
  $hover: 1,
  $active: .5,

  $css-normal: ( transition: opacity .1s ease-out ),
  $css-hover:  ( transition: opacity .1s ease-out ),
  $css-active: ( transition: opacity .1s ease-out ),

  $proxy: null
) {
  @include proxy ($proxy) {
    opacity: $normal;
    @include apply-styles($css-normal);
  }

  &:hover,
  &:focus {
    @include proxy ($proxy) {
      opacity: $hover;
      @include apply-styles($css-hover);
    }
  }
  &:active {
    @include proxy ($proxy) {
      opacity: $active;
      @include apply-styles($css-active);
    }
  }
}
