@mixin x-stack ($overlap: 1px) {
  > * {
    margin-left: $overlap * -1;
  }
  > *:first-child {
    margin-left: 0;
  }
}

@mixin y-stack ($overlap: 1px) {
  padding-bottom: $overlap;

  > * {
    margin-bottom: $overlap * -1;
  }
}

@mixin x-stack-item (
  $overlap: 1px,
  $items: '*'
) {
  & + #{$items} {
    margin-left: $overlap * -1;
  }
}

@mixin y-stack-item (
  $overlap: 1px,
  $items: '*'
) {
  & + #{$items} {
    margin-bottom: $overlap * -1;
  }
}

@mixin stack-item-on-top ($z-index: 2) {
  position: relative;
  z-index: $z-index;
}

@mixin stack-item (
  $direction,
  $args...
) {
  @if $direction == x {
    @include x-stack-item($args...);
  }
  @if $direction == y {
    @include y-stack-item($args...);
  }
}

@mixin content-gutter ($gutter, $direction: top, $selector: '> *') {
  $selector: if(is-string($selector), unquote($selector), null);
  $selector: if(not is-null($selector) and $selector != '', $selector, null);

  $direction: if(is-string($direction), unquote($direction), '');
  $direction: if($direction != top and $direction != bottom, top, $direction);

  @if (not is-measure($gutter)) {
    $gutter: if(is-number($gutter), $gutter *1px, null);
  }

  @if ($gutter and $selector) {
    & #{$selector} {
      margin-#{$direction}: $gutter;

      &:first-child {
        margin-#{$direction}: 0;
      }
    }
  }
}
