/** todo: кнопочки */

$base-font-size: 16px !default;

@mixin btn-hover ($proxy: null) {
  &:hover,
  &:hover:visited {
    @include proxy($proxy) {
      @content;
    }
  }
}

@mixin btn-focus ($proxy: null) {
  &:focus,
  &:focus:visited {
    @include proxy($proxy) {
      @content;
    }
  }
}

@mixin btn-active ($proxy: null) {
  &:active,
  &:active:visited {
    @include proxy($proxy) {
      @content;
    }
  }
}

@mixin btn-reset () {
  @include is-unfocusable;

  display:          inline;
  margin:           0;
  padding:          0;
  vertical-align:   middle;
  //touch-action:     none;
  background:       none;
  border:           none;
  position:         static;
  overflow:         visible;
  outline:          0 none;
  color:            inherit;
  text-align:       inherit;
  text-decoration:  inherit;
  cursor:           inherit;
  white-space:      inherit;
  box-shadow:       none;
  line-height:      1.2;
}

@mixin btn ($proxy: null) {
  @include proxy($proxy) {
    @include btn-reset;
    @include is-unselectable;

    font-size:        1rem;
    line-height:      1.42857143;
    display:          inline-block;
    margin:           0;
    padding:          0;
    text-align:       center;
    vertical-align:   middle;
    text-decoration:  none;
    touch-action:     manipulation;
    cursor:           pointer;
    background-image: none;
    white-space:      nowrap;
    position:         relative;
    //overflow:         hidden;
    outline:          0 none;

    option { text-align: left; }
  }

  &:hover:focus {
    @include proxy($proxy) {
      @include focus-outline-reset;
    }
  }

  &:focus {
    @include proxy($proxy) {
      @include focus-outline;
    }
  }

  &:active {
    @include proxy($proxy) {
      @include focus-outline-reset;
    }
  }

  &[disabled], fieldset[disabled] & {
    @include proxy($proxy) {
      @include is-unactionable;
      @include is-unselectable;

      cursor: default;
      opacity: .65;
      box-shadow: none;
    }
  }

  @include proxy($proxy) {
    > .inner {
      vertical-align: middle;
    }
  }

  @content;
}

@mixin btn-wide {
  display: block;
  min-width: 100%;
  white-space: normal;
}

@mixin btn-file-wrapper {
  position: relative;

  input[type=file] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 2;
    min-width: 100%;
    min-height: 100%;

    @content;
  }
}

@mixin btn-variant (
  $color-normal: inherit,
  $color-hover:  $color-normal,
  $color-focus:  $color-normal,
  $color-active: $color-normal,

  $bg-color-normal: if(type_of($color-normal) == color, invert($color-normal), $color-normal),
  $bg-color-hover:  if(type_of($bg-color-normal) == color, lighten($bg-color-normal, 20%), $bg-color-normal),
  $bg-color-focus:  $bg-color-hover,
  $bg-color-active: if(type_of($bg-color-normal) == color, lighten($bg-color-normal, 20%), $bg-color-normal),

  $border-color-normal: $bg-color-normal,
  $border-color-hover:  $bg-color-hover,
  $border-color-focus:  $border-color-hover,
  $border-color-active: $bg-color-active,

  $shadow-normal: none,
  $shadow-hover:  $shadow-normal,
  $shadow-focus:  $shadow-hover,
  $shadow-active: inset 0 3px 5px rgba(0, 0, 0, .125),

  $transition-normal: all .1s ease-out,
  $transition-hover:  $transition-normal,
  $transition-focus:  $transition-hover,
  $transition-active: $transition-hover,

  $css-normal: (),
  $css-hover: (),
  $css-focus: (),
  $css-active: (),

  $proxy: null
) {
  &, &:visited {
    @include proxy($proxy) {
      color: $color-normal;
      border: 1px solid $border-color-normal;
      background-color: $bg-color-normal;
      transition: $transition-normal;
      box-shadow: $shadow-normal;

      @include apply-styles($css-normal);
      @content;
    }
  }

  @include btn-hover ($proxy) {
    color: $color-hover;
    border-color: $border-color-hover;
    background-color: $bg-color-hover;
    transition: $transition-hover;
    box-shadow: $shadow-hover;

    @include apply-styles($css-hover);

    @include btn-focus ($proxy) {
      color: $color-hover;
      border-color: $border-color-hover;
      background-color: $bg-color-hover;
      transition: $transition-hover;
      box-shadow: $shadow-hover;

      @include apply-styles($css-hover);
    }
  }

  @include btn-focus ($proxy) {
    color: $color-focus;
    border-color: $border-color-focus;
    background-color: $bg-color-focus;
    transition: $transition-focus;
    box-shadow: $shadow-focus;

    @include apply-styles($css-focus);
  }

  @include btn-active ($proxy) {
    color: $color-active;
    border-color: $border-color-active;
    background-color: $bg-color-active;
    transition: $transition-active;
    box-shadow: $shadow-active;

    @include apply-styles($css-active);
  }
};
