@mixin triangle ($size, $direction, $color: currentColor) {
  $size: get-bounds-map($size);
  $width: map-get($size, y); // так надо
  $height: map-get($size, x); // так надо

  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;

  content: '';
  width: 0;
  height: 0;
  display: block;

  @if $direction == up or $direction == top {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @elseif $direction == right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
  @elseif $direction == down or $direction == bottom {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @elseif $direction == left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @content;
}

/// @link http://lugolabs.com/caret
@mixin caret ($size, $border-width, $direction, $color, $border-color) {
  $size: get-bounds-map($size);
  $width: map-get($size, y); // так надо
  $height: map-get($size, x); // так надо

  $back-colored-border-style: $height solid $border-color;
  $back-transparent-border-style: $width/2 solid transparent;
  $front-colored-border-style: ($height - $border-width) solid $color;
  $front-transparent-border-style: ($width/2 - $border-width) solid transparent;

  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    top: 0;
    left: 0;

    @content;
  }
  @if $direction == up or $direction == top {
    &:before {
      border-bottom: $back-colored-border-style;
      border-left: $back-transparent-border-style;
      border-right: $back-transparent-border-style;
    }
    &:after {
      left: $border-width;
      top: $border-width;
      border-bottom: $front-colored-border-style;
      border-left: $front-transparent-border-style;
      border-right: $front-transparent-border-style;
    }
  }
  @elseif $direction == right {
    &:before {
      border-left: $back-colored-border-style;
      border-top: $back-transparent-border-style;
      border-bottom: $back-transparent-border-style;
    }
    &:after {
      top: $border-width;
      left: 0;
      border-left: $front-colored-border-style;
      border-top: $front-transparent-border-style;
      border-bottom: $front-transparent-border-style;
    }
  }
  @elseif $direction == down or $direction == bottom {
    &:before {
      border-top: $back-colored-border-style;
      border-left: $back-transparent-border-style;
      border-right: $back-transparent-border-style;
    }
    &:after {
      top: 0;
      left: $border-width;
      border-top: $front-colored-border-style;
      border-left: $front-transparent-border-style;
      border-right: $front-transparent-border-style;
    }
  }
  @elseif $direction == left {
    &:before {
      border-right: $back-colored-border-style;
      border-top: $back-transparent-border-style;
      border-bottom: $back-transparent-border-style;
    }
    &:after {
      top: $border-width;
      left: $border-width;
      border-right: $front-colored-border-style;
      border-top: $front-transparent-border-style;
      border-bottom: $front-transparent-border-style;
    }
  }
}
