$base-font-size: 16px !default;
$control-sizes: (
  xs: (font-size: 12px, height: 26px, padding: .3em .7em, active-offset: 1px),
  sm: (font-size: 13px, height: 30px, padding: .3em .8em, active-offset: 1px),
  default: (font-size: 14px, height: 36px, padding: .5em 1em, active-offset: 1px),
  md: (font-size: 16px, height: 40px, padding: .5em 1em, active-offset: 1px),
  lg: (font-size: 18px, height: 45px, padding: .5em 1em, active-offset: 1px),
  xl: (font-size: 20px, height: 50px, padding: .5em 1em, active-offset: 2px),
) !default;


// todo
//select#{$parent} {
//  height: $input-height;
//  line-height: $input-height;
//}
//
//textarea#{$parent},
//select[multiple]#{$parent} {
//  height: auto;
//}

@mixin control-size-preset (
  $size: default,
  $include-offset: true,
  $font-size: $base-font-size,
  $proxy: null
) {
  @if map-has-key($control-sizes, $size) {
    $styles: map-get($control-sizes, $size);
    $offset: map-get($styles, active-offset);
    $styles: map-remove($styles, active-offset);
    $fs: map-get($styles, active-offset);
    $font-size: if($fs != null, $fs, $font-size);

    @include proxy($proxy) {
      @include apply-styles($styles);
    }

    @if $include-offset and $offset != null {
      &:active {
        $bounds: get-bounds-map(map-get($styles, padding));
        $bounds: if($bounds, $bounds, 0);

        @include proxy($proxy) {
          @if map-has-key($styles, padding) {
            $padding-top-converted: unit-convertor(
              map-get($bounds, top),
              unit($offset),
              $pixels-in-em:  $font-size,
              $pixels-in-rem: $font-size
            );

            $padding-bottom-converted: unit-convertor(
              map-get($bounds, bottom),
              unit($offset),
              $pixels-in-em:  $font-size,
              $pixels-in-rem: $font-size
            );

            padding-top: unit-convertor(
              $padding-top-converted + $offset,
              unit(map-get($bounds, top)),
              $pixels-in-em:  $font-size,
              $pixels-in-rem: $font-size
            );
            padding-bottom: unit-convertor(
              $padding-bottom-converted - $offset,
              unit(map-get($bounds, bottom)),
              $pixels-in-em:  $font-size,
              $pixels-in-rem: $font-size
            );
          }
          @elseif map-has-key($styles, active-offset) {
            position: relative;
            top: map-get($styles, active-offset);
          }
        }
      }
    }
  }
}

@mixin control-size (
  $bounds,
  $active-offset: 1px,
  $font-size: $base-font-size,
  $proxy: null
) {
  $bounds: get-bounds-map($bounds);
  $bounds: if($bounds, $bounds, 0);
  $bounds-list: get-bounds-list($bounds);

  @include proxy($proxy) {
    padding: $bounds-list;
  }

  &:active {
    @include proxy($proxy) {
      $padding-top-converted: unit-convertor(
        map-get($bounds, top),
        unit($active-offset),
        $pixels-in-em:  $font-size,
        $pixels-in-rem: $font-size
      );

      $padding-bottom-converted: unit-convertor(
        map-get($bounds, bottom),
        unit($active-offset),
        $pixels-in-em:  $font-size,
        $pixels-in-rem: $font-size
      );

      padding-top: unit-convertor(
        $padding-top-converted + $active-offset,
        unit(map-get($bounds, top)),
        $pixels-in-em:  $font-size,
        $pixels-in-rem: $font-size
      );
      padding-bottom: unit-convertor(
        $padding-bottom-converted - $active-offset,
        unit(map-get($bounds, bottom)),
        $pixels-in-em:  $font-size,
        $pixels-in-rem: $font-size
      );
    }

    @content;
  }
}
