@mixin image-preview (
  $image,
  $factor: 1,
  $opacity-normal: .5,
  $opacity-hover: 1,
  $opacity-active: .8,
  $css-normal: ( transition: opacity .1s ease-out ),
  $css-hover:  ( transition: opacity .1s ease-out ),
  $css-active: ( transition: opacity .1s ease-out )
) {
  position: relative;
  display: inline-block;
  border: none;
  text-decoration: none;
  max-width: 100%;

  @include opacity-states(
    $opacity-normal,
    $opacity-hover,
    $opacity-active,
    $css-normal,
    $css-hover,
    $css-active,
    $proxy: '&:after'
  );

  &:after {
    @include pseudo;
    @include stretch;
    @include icon-base;
    @include icon($image, $factor);
    @include bg-size($image, $factor);

    width: auto;
    height: auto;
    margin: auto;
    z-index: 2;

    @content;
  }
}

@mixin block-loader ($image, $factor: 1) {
  position: relative;
  display: inline-block;
  border: none;
  text-decoration: none;
  max-width: 100%;

  &:after {
    @include pseudo;
    @include stretch;
    @include icon-base;
    @include icon($image, $factor);
    @include bg-size($image, $factor);

    width: auto;
    height: auto;
    margin: auto;
    z-index: 2;

    @content;
  }
}

@mixin page-overlay ($z-index: 999) {
  @include stretch;

  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100%;
  width: 100vh;
  height: 100vh;
}