
.icon-glass:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-ok-circled:before { content: '\e809'; } /* '' */
.icon-ok-circled2:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-th-list:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-eye-off:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-help-circled:before { content: '\e816'; } /* '' */
.icon-upload:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e818'; } /* '' */
.icon-bookmark:before { content: '\e819'; } /* '' */
.icon-flag:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-trash-empty:before { content: '\e81c'; } /* '' */
.icon-location:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e81e'; } /* '' */
.icon-attention-circled:before { content: '\e81f'; } /* '' */
.icon-folder:before { content: '\e820'; } /* '' */
.icon-folder-open:before { content: '\e821'; } /* '' */
.icon-phone:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e824'; } /* '' */
.icon-zoom-in:before { content: '\e825'; } /* '' */
.icon-zoom-out:before { content: '\e826'; } /* '' */
.icon-resize-small:before { content: '\e827'; } /* '' */
.icon-resize-full:before { content: '\e828'; } /* '' */
.icon-block:before { content: '\e829'; } /* '' */
.icon-login:before { content: '\e82a'; } /* '' */
.icon-logout:before { content: '\e82b'; } /* '' */
.icon-down-dir:before { content: '\e82c'; } /* '' */
.icon-up-dir:before { content: '\e82d'; } /* '' */
.icon-left-dir:before { content: '\e82e'; } /* '' */
.icon-right-dir:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-cw:before { content: '\e831'; } /* '' */
.icon-ccw:before { content: '\e832'; } /* '' */
.icon-arrows-cw:before { content: '\e833'; } /* '' */
.icon-play:before { content: '\e834'; } /* '' */
.icon-stop:before { content: '\e835'; } /* '' */
.icon-pause:before { content: '\e836'; } /* '' */
.icon-to-end:before { content: '\e837'; } /* '' */
.icon-to-end-alt:before { content: '\e838'; } /* '' */
.icon-to-start:before { content: '\e839'; } /* '' */
.icon-to-start-alt:before { content: '\e83a'; } /* '' */
.icon-fast-fw:before { content: '\e83b'; } /* '' */
.icon-fast-bw:before { content: '\e83c'; } /* '' */
.icon-eject:before { content: '\e83d'; } /* '' */
.icon-target:before { content: '\e83e'; } /* '' */
.icon-align-left:before { content: '\e83f'; } /* '' */
.icon-check:before { content: '\e840'; } /* '' */
.icon-block-1:before { content: '\e841'; } /* '' */
.icon-clock:before { content: '\e842'; } /* '' */
.icon-layers:before { content: '\e843'; } /* '' */
.icon-signal:before { content: '\e844'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-stop-circle:before { content: '\f28d'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */