@import '../../bower_components/font-awesome/css/font-awesome.css';

.qwe {
  font-family: -apple-system,
               BlinkMacSystemFont,
               'avenir next',
               avenir,
               helvetica,
               'helvetica neue',
               Ubuntu,
               'segoe ui',
               arial,
               sans-serif
  ;
}

.test {
  background: url(../images/felix.png);
}
.test-2 {
  background: url(/markup/images/felix.png);
}
//.test-3 {
//  background: url(/markup/images/felix.png);
//}
//.test-4 {
//  background: url(/markup/images/felix.png);
//}
//.test-5 {
//  background: url(/markup/images/felix.png);
//}
//.test-6 {
//  background: url(/markup/images/felix.png);
//}
