$base-font-size: 16px !default;
$base-line-height: 1.42857143 !default;
$base-radius: 3px !default;

$selection-color: #363636 !default;
$selection-background-color: #b3d4fc !default;

$base-color: #343641 !default;
$color-primary: #287ba4;
$color-success: #1bac00;
$color-danger: #ef1c40;

$base-color-muted: #979c9c;
$color-primary-muted: rgba($color-primary, .8);
$color-success-muted: rgba($color-success, .8);
$color-danger-muted: rgba($color-danger, .8);

$base-color-muted-x2: rgba($base-color-muted, .8);
$color-primary-muted-x2: rgba($color-primary, .6);
$color-success-muted-x2: rgba($color-success, .6);
$color-danger-muted-x2: rgba($color-danger, .6);

$borders-color: #e7e8ec;

$link-color: $color-primary !default;
$link-color-hover: lighten($link-color, 20%) !default;

$input-border-color: $borders-color;
$input-border-color-focus: $color-primary;

$input-border-color-success: $color-success;
$input-border-color-success-focus: $color-primary;

$input-border-color-danger: $color-danger;
$input-border-color-danger-focus: $color-primary;

$bg-color-item-hover: #f2ebc7;

$layout: '.layout' !default;
$layout-main: '.layout-main' !default;
$layout-footer: '.layout-footer' !default;
$layout-header: '.layout-header' !default;
$sticky-footer-method: flex !default; // or "flex"

$layout-sidebars: '.layout-sidebars' !default;
$layout-content-outer: '.layout-content-outer' !default;
$layout-content: '.layout-content' !default;
$layout-left: '.layout-left' !default;
$layout-right: '.layout-right' !default;
$layout-left-width: false !default;
$layout-right-width: false !default;
$layout-left-gutter: 20px !default;
$layout-right-gutter: 20px !default;

$layout-min-width: 0 !default;
$layout-max-width: 1400px !default;
$layout-side-space-width: 20px !default;
$layout-side-space-type: padding !default; // or "margin"

$z-indexes: (
  toast:     10000,
  modal:     9000,
  overlay:   8000,
  dropdown:  7000,
  dialog:    6000,
  popup:     5000,
  base:      1,
  deepdive: -99999,
) !default;

//$font-path: '../fonts/' !default;
$font-formats: 'ttf' 'otf' 'woff' 'woff2' 'svg' 'svgz' 'eot' !default;
$fonts: (
  //'heading': ( // give your font a semantic name for reference
  //  'name': 'maven', // optionally set a different font name
  //  'stack': ('helvetica', 'arial', sans-serif), // define the stack
  //  'normal': 'maven/maven_pro_regular-webfont', // point to any webfont files
  //  'bold': 'maven/maven_pro_bold-webfont',
  //),

  'base': (
    'name': Roboto,
    'stack': font-stack(systems),
    'normal': false,
    'italic': false,
    'bold': false,
    'bold' 'italic': false,
  ),

  'mono': (
    'name': nth(font-stack(lucida-console), 1),
    'stack': font-stack(lucida-console),
    'normal': false,
    'italic': false,
    'bold': false,
    'bold' 'italic': false,
  ),

);
