$base-font-size: 16px !default;
$base-line-height: 1.4 !default;

$base-radius: 3px !default;

$auto-columns-gutter: 1em !default;
$auto-columns-gutter-style: margin !default;

$btn-bg-color-normal: #fff !default;
$btn-border-color-normal: #ccc !default;
