@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');

@import 'site/icons';
@import 'site/header';
@import 'site/pagination';
@import 'site/top-menu';
@import 'site/search-block';
@import 'site/task-details';
@import 'site/create-task';
@import 'site/create-contact';
@import 'site/login';
@import 'site/layers-checker';
@import 'site/projects-list';
@import 'site/contact-list';

#ui {
  padding: 2rem 5rem;
}

.layout-sidebars {
  $transition: .1s ease-out;

  .layout-content {
    transition: padding-left $transition;
    background: $borders-color;
  }

  .layout-left {
    transition: transform $transition;
    background: $bg-color-item-hover;
  }

  &.-closed-left {
    .layout-content {
      padding-left: 0;
    }

    .layout-left {
      transform: translateX(-100%);
    }
  }
}
