@import 'tools';
@import 'settings';
@import 'generic';
@import 'base';
@import 'objects';
@import 'components';
@import 'trumps';

//@import 'main/index';


.test-block {
  p {
    border: 1px solid red;
    border-radius: 4px;

    //&:nth-of-type(even) {
    //  border-color: red;
    //}
  }

  @include box(1rem);
  @include table-cells-padding(1rem, y half-between nowrap, $cells: p);
  //@include table-cells-border(1px solid #ccc, y nowrap, $cells: p);
}

.test-block-2 {
  span {
    border: 1px solid red;
    border-radius: 4px;
    &:nth-of-type(even) {
      border-color: green;
    }
  }

  @include box(1rem);
  @include table-cells-padding(1rem, y half-between nowrap, $cells: span);
  //@include table-cells-border(1px solid #ccc, y nowrap, $cells: p);
}
