$btn-variants: (
  default: (
    color-normal: $color-primary,
    color-hover: #fff,
    color-focus: $color-primary,
    color-active: #fff,

    bg-color-normal: #fff,
    bg-color-hover: $color-primary,
    bg-color-focus: #fff,
    bg-color-active: $color-primary,
  ),
  primary: (
    color-normal: #fff,
    color-hover: #fff,
    color-active: #fff,

    bg-color-normal: $color-primary,
    bg-color-hover: darken($color-primary, 10%),
    bg-color-active: darken($color-primary, 10%),
  ),
  success: (
    color-normal: #fff,
    color-hover: #fff,
    color-active: #fff,

    bg-color-normal: $color-success,
    bg-color-hover: darken($color-success, 10%),
    bg-color-active: darken($color-success, 10%)
  ),
  danger: (
    color-normal: #fff,
    color-hover: #fff,
    color-active: #fff,

    bg-color-normal: $color-danger,
    bg-color-hover: darken($color-danger, 10%),
    bg-color-active: darken($color-danger, 10%)
  ),
  secondary: (
    color-normal: $color-primary,
    color-hover: $color-primary,
    color-active: $color-primary,

    bg-color-normal: $borders-color,
    bg-color-hover: darken($borders-color, 10%),
    bg-color-active: darken($borders-color, 10%)
  )
) !default;

.btn {
  @include btn;

  @each $size, $data in $control-sizes {
    $selector: if($size == default, '&', '&.-size-#{$size}');
    #{$selector} { @include control-size-preset($size); }
  }

  @each $variant, $data in $btn-variants {
    $selector: if($variant == default, '&', '&.-#{$variant}');
    #{$selector} {
      $args: map-get($btn-variants, $variant);
      @include btn-variant($args...);
    }
  }

  border-radius: $base-radius;
  &.-square {
    border-radius: 0;
  }

  &.-wide {
    @include btn-wide;
  }
}
