extends layouts/default.pug

block vars
  -
    var pageEntry = 'components';
    var chunks = ['manifest', 'common', pageEntry];

block header
  .layout-width
    div(layout="row top-justify")
      div
        div(layout="row top-justify")
          a.top-menu-link.sidebar-toggle(href='#', self="stretch"): i.top-menu-item-icon.icon-angle-double-left
          a.top-menu-link.is-active(href='#', self="size-x1") #[i.top-menu-item-icon.icon-folder] Проекты
          a.top-menu-link(href='#', self="size-x1") #[i.top-menu-item-icon.icon-phone-squared] Номера
      div(self="size-x1")
        div(layout="row top-right")
          a.top-menu-link.is-active(href='#') Выход #[i.top-menu-item-icon.icon-logout]

block content
  .layout-width
    .panel.search-block(layout="row center-justify")
      div
        select.input.-size-xs
          option Мегафон (02)
          option МТС (01)
          option Билайн (99)
          option Tele2 (20)
      div(self="size-x1")
        div(layout="row center-stretch")
          div
            input.input.-size-xs.-wide(placeholder="Lac")
          div
            input.input.-size-xs.-wide(placeholder="Cid")
      div
        select.input.-size-xs
          option 2G
          option 3G
          option 4G
      div
        button.btn.-size-xs
          i.icon-search

block footer
  .layout-width
