extends layouts/default.pug

block vars
  -
    var pageEntry = 'ui';
    var chunks = ['manifest', 'common', pageEntry];

block header
  p Хэадер

block footer
  p Футер

block left
  p Лево

block right
  p Право

block content
  #ui-auto-size
    h1 Это юай!
    .test-block.md-shadow
      p.btn-group.-size-xs.-primary
        button.btn Это кнопочка
        button.btn.-default Это кнопочка
        button.btn.-primary Это кнопочка
        button.btn.-secondary Это кнопочка
        button.btn.-success Это кнопочка
        button.btn.-danger.-size-lg Это кнопочка
      //p.input-group
      //p.stack.-y.inputs-group.qweqweqwe
      //  span.addon Текст аддона
      //  span.addon-btn: button.btn.-square Проект
      //  span.addon-btn: button.btn.-square Задача
      //  span.addon-btn: button.btn.-square Полигон
      //
      //p.stack.-y.inputs-group
      //  input.input(placeholder="Это инпут")
      //  input.input.-default(placeholder="Это инпут")
      //  input.input.-primary(placeholder="Это инпут")
      //  input.input.-secondary(placeholder="Это инпут")
      //  input.input.-success(placeholder="Это инпут")
      //  input.input.-danger(placeholder="Это инпут")
    p
      i.i.-megafon
      i.i.-mts
      i.i.-beeline
      i.i.-tele2
      i.i.-google
      i.i.-yandex
      i.i.-double-eagle
      i.i.-nextgis
      i.i.-radius
      i.i.-sector
      i.i.-utech
      i.i.-voronoi
      i.i.-folder-new
      i.i.-phone-new
      i.i.-polygon-new
      i.i.-task-new
      i.i.-search-list
      i.i.-times

    p(style="color: #287ba4;")
      i.icon-plus-circled
      i.icon-phone-squared
      i.icon-user
      i.icon-folder
      i.icon-folder-open
      i.icon-logout
      i.icon-connectdevelop
      i.icon-trash
      i.icon-ok-circled
      i.icon-attention
      i.icon-pencil
      i.icon-cw
      i.icon-angle-left
      i.icon-angle-right
      i.icon-search
      i.icon-location
      i.icon-target
      i.icon-angle-double-left
      i.icon-cancel
      i.icon-play-circled
      i.icon-pause-circle
      i.icon-tasks
      i.icon-calendar
      i.icon-resize-full
      i.icon-resize-small
      i.icon-layers
      i.icon-link-ext

    p(style="color: #287ba4;")
      i.icon-glass
      i.icon-mail
      i.icon-search
      i.icon-star
      i.icon-star-empty
      i.icon-user
      i.icon-plus-circled
      i.icon-cancel
      i.icon-cancel-circled
      i.icon-ok-circled
      i.icon-ok-circled2
      i.icon-camera
      i.icon-th-list
      i.icon-plus
      i.icon-minus
      i.icon-eye
      i.icon-eye-off
      i.icon-lock
      i.icon-attach
      i.icon-link
      i.icon-info-circled
      i.icon-minus-circled
      i.icon-help-circled
      i.icon-upload
      i.icon-download
      i.icon-bookmark
      i.icon-flag
      i.icon-pencil
      i.icon-trash-empty
      i.icon-location
      i.icon-attention
      i.icon-attention-circled
      i.icon-folder
      i.icon-folder-open
      i.icon-phone
      i.icon-cog
      i.icon-calendar
      i.icon-zoom-in
      i.icon-zoom-out
      i.icon-resize-small
      i.icon-resize-full
      i.icon-block
      i.icon-login
      i.icon-logout
      i.icon-down-dir
      i.icon-up-dir
      i.icon-left-dir
      i.icon-right-dir
      i.icon-spin1
      i.icon-cw
      i.icon-ccw
      i.icon-arrows-cw
      i.icon-play
      i.icon-stop
      i.icon-pause
      i.icon-to-end
      i.icon-to-end-alt
      i.icon-to-start
      i.icon-to-start-alt
      i.icon-fast-fw
      i.icon-fast-bw
      i.icon-eject
      i.icon-target
      i.icon-align-left
      i.icon-check
      i.icon-block-1
      i.icon-clock
      i.icon-layers
      i.icon-signal
      i.icon-link-ext
      i.icon-phone-squared
      i.icon-tasks
      i.icon-docs
      i.icon-menu
      i.icon-sort
      i.icon-sort-down
      i.icon-sort-up
      i.icon-mail-alt
      i.icon-gauge
      i.icon-sitemap
      i.icon-exchange
      i.icon-doc-text
      i.icon-plus-squared
      i.icon-angle-double-left
      i.icon-angle-double-right
      i.icon-angle-double-up
      i.icon-angle-double-down
      i.icon-angle-left
      i.icon-angle-right
      i.icon-angle-up
      i.icon-angle-down
      i.icon-spinner
      i.icon-reply
      i.icon-direction
      i.icon-shield
      i.icon-lock-open-alt
      i.icon-ellipsis-vert
      i.icon-play-circled
      i.icon-minus-squared
      i.icon-minus-squared-alt
      i.icon-ok-squared
      i.icon-doc-inv
      i.icon-doc-text-inv
      i.icon-sort-name-up
      i.icon-plus-squared-alt
      i.icon-database
      i.icon-sliders
      i.icon-wifi
      i.icon-trash
      i.icon-connectdevelop
      i.icon-server
      i.icon-user-plus
      i.icon-user-times
      i.icon-map-pin
      i.icon-map-o
      i.icon-pause-circle
      i.icon-stop-circle
      i.icon-user-circle
      i.icon-window-restore
    p
      label.c-switch
        input(type="checkbox")
        i.helper
    p.has-tooltip.-auto-size(style="margin: 0 200px;") Текст для тултипчика! #[span.tooltip А это #[i тултипчик]!]
    p(data-title-left="И это тултипчик!", style="margin: 0 200px;") Хавер он ме!

    .sidebars
      .side
        p asdqweasd
      .center
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
      .side
        p asdqweasd asdqweasd

    table.c-table
      tr
        td i.o-icon.-megaphone
        td 5043
        td 254688791
        td 2
        td
        td 4G
        td: div.opacity-list
          i.o-icon.-eagle
          i.o-icon.-google
          i.o-icon.-yandex
        td: a.-pseudo(href="#") Свернуть

    table.c-table
      tbody
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть

    div(style="padding: 0 50px")
      div
        table.c-table.c-custom-table
          thead
            tr
              th Оператор
              th LAC&nbsp;#[i.o-caret]
              th CID&nbsp;#[i.o-caret.-up]
              th MNC&nbsp;#[i.o-caret.-down]
              th MCC
              th Тип
              th БС
              th
          tbody
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
          tfoot
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
