extends layouts/default.pug

block vars
  -
    var pageEntry = 'ui';
    var chunks = ['manifest', 'common', pageEntry];

block header
  p Хэадер

block footer
  p Футер

block left
  p Лево

block right
  p Право

block content
  #ui
    h1 Это юай!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.

    table.c-table
      tr
        td i.o-icon.-megaphone
        td 5043
        td 254688791
        td 2
        td
        td 4G
        td: div.opacity-list
          i.o-icon.-eagle
          i.o-icon.-google
          i.o-icon.-yandex
        td: a.-pseudo(href="#") Свернуть

    table.c-table
      tbody
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть

    table.c-table.c-custom-table
      thead
        tr
          th Оператор
          th LAC&nbsp;#[i.o-caret]
          th CID&nbsp;#[i.o-caret.-up]
          th MNC&nbsp;#[i.o-caret.-down]
          th MCC
          th Тип
          th БС
          th
      tbody
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
        tr
          td i.o-icon.-beeline
          td 5042
          td 2546987654
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Развернуть
