extends layouts/default.pug

block vars
  -
    var pageEntry = 'ui';
    var chunks = ['manifest', 'common', pageEntry];

block header
  p Хэадер

block footer
  p Футер

block left
  p Лево

block right
  p Право

block content
  #ui-auto-size
    h1 Это юай!
    .test-block.md-shadow
      p.btn-group.-size-xs.-primary
        button.btn Это кнопочка
        button.btn.-default Это кнопочка
        button.btn.-primary Это кнопочка
        button.btn.-secondary Это кнопочка
        button.btn.-success Это кнопочка
        button.btn.-danger.-size-lg Это кнопочка
      //p.input-group
      //p.stack.-y.inputs-group.qweqweqwe
      //  span.addon Текст аддона
      //  span.addon-btn: button.btn.-square Проект
      //  span.addon-btn: button.btn.-square Задача
      //  span.addon-btn: button.btn.-square Полигон
      //
      //p.stack.-y.inputs-group
      //  input.input(placeholder="Это инпут")
      //  input.input.-default(placeholder="Это инпут")
      //  input.input.-primary(placeholder="Это инпут")
      //  input.input.-secondary(placeholder="Это инпут")
      //  input.input.-success(placeholder="Это инпут")
      //  input.input.-danger(placeholder="Это инпут")
    p
      label.c-switch
        input(type="checkbox")
        i.helper
    p.has-tooltip.-auto-size(style="margin: 0 200px;") Текст для тултипчика! #[span.tooltip А это #[i тултипчик]!]
    p(data-title-left="И это тултипчик!", style="margin: 0 200px;") Хавер он ме!

    .sidebars
      .side
        p asdqweasd
      .center
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum.
      .side
        p asdqweasd asdqweasd

    table.c-table
      tr
        td i.o-icon.-megaphone
        td 5043
        td 254688791
        td 2
        td
        td 4G
        td: div.opacity-list
          i.o-icon.-eagle
          i.o-icon.-google
          i.o-icon.-yandex
        td: a.-pseudo(href="#") Свернуть

    table.c-table
      tbody
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть
        tr
          td i.o-icon.-megaphone
          td 5043
          td 254688791
          td 2
          td
          td 4G
          td: div.opacity-list
            i.o-icon.-eagle
            i.o-icon.-google
            i.o-icon.-yandex
          td: a.-pseudo(href="#") Свернуть

    div(style="padding: 0 50px")
      div
        table.c-table.c-custom-table
          thead
            tr
              th Оператор
              th LAC&nbsp;#[i.o-caret]
              th CID&nbsp;#[i.o-caret.-up]
              th MNC&nbsp;#[i.o-caret.-down]
              th MCC
              th Тип
              th БС
              th
          tbody
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
          tfoot
            tr
              td i.o-icon.-megaphone
              td 5043
              td 254688791
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Свернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
            tr
              td i.o-icon.-beeline
              td 5042
              td 2546987654
              td 2
              td
              td 4G
              td: div.opacity-list
                i.o-icon.-eagle
                i.o-icon.-google
                i.o-icon.-yandex
              td: a.-pseudo(href="#") Развернуть
