@import '~sassdash/index';
@import '../shared/utils';

.box-1 {
  $box: 5px 2em;
  @include box($box);

  background: #f0f0f0;
  outline: 1px solid #686868;

  .box-1-1,
  .box-1-2 {
    @include unboxing($box, x);
    @include box($box);

    background: #ccc;
    outline: 1px solid #333;
  }

  position: relative;

  .box-1-1:first-child {
    @include offset(auto auto 100% 100%, $type: absolute);
    @include offset(auto auto 10px 10px);
  }
}

@function multiply ($num, $args...) {
  @return if(_is-number($num), $num *2, $num);
};

.box-2 {
  display: none;

  &#{&} {
    $bounds: 2em 2em;
    @include box($bounds);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #f0f0f0;
    outline: 1px solid #686868;

    .box-2-1 {
      @include box($bounds);
      @include box($bounds, $type: absolute);

      background: #ccc;
      outline: 1px solid #333;

      overflow: auto;

      .box-block {
        &.out-x {
          @include unboxing($bounds, x);
          @include box($bounds, x);
        }

        white-space: nowrap;
        background: #888;
        margin: 0;

        .box-block-inner {
          $block-bounds: 5px 20px;
          @include box($block-bounds);
        }

        $border-width: 2px;
        & + #{_last(_last(&))} {
          margin-top: -$border-width;
        }

        border-top: $border-width solid red;
        border-bottom: $border-width solid red;

        &.out-x {
          border-top-color: green;
          border-bottom-color: green;
          position: relative;
          z-index: 2;
        }
        &:hover {
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}

.box-2-1 {

}

.box-2-2 {

}
