@import '~normalize.css/normalize';
@import '~sanitize.css/sanitize';
@import '~html5-boilerplate/src/css/main.css';

/**
 * 1. Edge 12+, Internet Explorer 11-
 */
html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* 1 */
}

body {
  min-height: 100%;
}

html,
button,
input,
optgroup,
select,
textarea {
  // http://www.cssfontstack.com/
  // https://gist.github.com/jacrook/9009655
  font-family: 'Roboto',
               -apple-system,
               BlinkMacSystemFont,
               'avenir next',
               avenir,
               helvetica,
               'helvetica neue',
               Ubuntu,
               'segoe ui',
               arial,
               sans-serif;
}

@-moz-document url-prefix () {
  fieldset { display: table-cell; }
}

// Internet Explorer 11-
pre {
  overflow: auto;
}

* > *:first-child {
  margin-top: 0;
}
* > *:last-child {
  margin-bottom: 0;
}
