$base-font-size: 16px !default;
$base-radius: 3px !default;

$btn-bg-color-normal: #fff !default;
$btn-border-color-normal: #ccc !default;

@import 'mixins';
@import 'generics/intro';
@import 'generics/helpers';
@import 'generics/grids';
@import 'generics/inputs';
@import 'generics/buttons';
@import 'generics/stacks';
@import 'generics/controls-groups';
