@mixin apply-styles ($styles) {
  @if type_of($styles) == map {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}

@mixin proxy ($target: null) {
  @if $target == null {
    @content;
  } @else {
    #{$target} {
      @content;
    }
  }
}

@mixin clearfix () {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin accelerate ($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
  transform: translate3d(0, 0, 0);
}

@mixin reset-borders ($important: false) {
  $i: important($important);

  border: none $i;
  outline: none $i;
  box-shadow: none $i;
  text-decoration: none $i;
}
