@mixin stretch ($sides: x y) {
  $sides: if(type-of($sides) != list, ($sides,), $sides);
  $position-needed: false;

  @if index($sides, x) {
    left:  0;
    right: 0;
    $position-needed: true;
  }

  @if index($sides, y) {
    top:    0;
    bottom: 0;
    $position-needed: true;
  }

  @if $position-needed {
    position: absolute;
  }
}

@mixin stretch-pagewide {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
