modal: form.panel.login.is-loading-block(:class="{ '-loading': loading }", @submit.prevent="loginTry")
  .panel-header.login-header(layout="row center-justify")
    div(self="size-x1")
      i.panel-icon.icon-tasks
      | &nbsp; Авторизация
    //div
    //  a.closer(href="#"): i.i.-times
  .panel-box
    .panel-y-sections
      .form-group
        label Логин:
        input.input.-size-sm.-wide(placeholder="Введите ваш логин", v-model="login")
      .form-group
        label Пароль:
        input.input.-size-sm.-wide(placeholder="Введите ваш пароль", v-model="password", type="password")
  .actions: .u-text-center
    button.btn.-size-sm.-primary(type="submit") Войти
